body {
  color: rgb(6, 6, 97);
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  padding: 5px;
}

.boards {
  border: solid rgb(1, 1, 66);
  border-radius: 5px;
  width: 25%;
  margin: 5px;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.boards-title {
  background: rgb(1, 1, 66);
  display: flex;
  justify-content: space-between;
  color: white;
}

.boards-title-warning {
  background: rgb(225, 18, 18);
  display: flex;
  justify-content: space-between;
  color: rgb(249, 249, 0);
}

.boards h2 {
  margin: 0;
  padding: 5px;
}

.boards span {
  border-radius: 50%;
  background-color: yellow;
  height: 25px;
  width: 25px;
  padding: 2px;
  text-align: center;
  color: rgb(1, 1, 66);
  margin: 5px;
}

ul {
  list-style: none;
}

li {
  border: solid rgb(216, 216, 240) 3px;
  margin: 7px;
  padding: 3px;
  border-radius: 3px;
}

.task {
  padding: 5px;
  margin: 5px;
  border: solid 3px rgb(3, 3, 73);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.task img {
  width: 60px;
  height: 75px;
  border-radius: 50%;
  margin-left: 100px;
  border: inset black;
}

.task:hover {
  background-color: rgb(110, 110, 245);
  color: black;
  cursor: pointer;
}

.task button {
  padding: 1px 8px 1px 8px;
  font-size: 18px;
  border: none;
  background-color: rgb(1, 1, 66);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.task button:hover {
  background-color: rgb(167, 167, 247);
  color: black;
}

.add-task {
  margin: 10px;
}

.add-task-form input {
  border: none;
  background-color: rgb(206, 206, 206);
  font-size: 20px;
  border-radius: 5px;
  color: black;
  padding: 3px;
}

.add-task-form button {
  border: none;
  background-color: rgb(13, 1, 70);
  font-size: 15px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 6px;
  margin-left: 5px;
}

.modal-task {
  background-color: white;
  border: solid gray;
  width: 300px;
  height: 300px;
  top: -200px;
  left: 20px;
  padding: 15px;
  z-index: 1;
}